html, body {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: black;
    /* cursor: none; */
}

main {
    overflow: hidden;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    top: 50%;
    left: 50%;
    background-image: url("./assets/board-bg.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 900px;
    width: 1440px;
}

#aim {
    position: absolute;
    transform: translate(-50%, -50%);
    width: 200px;
    height: auto;
    z-index: 2;
    pointer-events: none;
}

.top-bar {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-between;
    top: 15px;
    height: 104px;
}

.lifebar {
    display: inline-block;
    margin-left: 15px;
    user-select: none;
}

.heart {
    width: 100px;
    height: auto;
    user-select: none;
}

.points-container {
    margin-right: 15px;
}

.points-container p {
    color: white;
    font-size: 7rem;
    margin: 0;
    font-weight: bold;
    position: relative;
    user-select: none;
}

.arena {
    align-self: flex-end;
    position: relative;
    width: calc(100% + 200px);
    height: 230px;
    /* background-color: white; służy do ustawienia */
}

.zombie {
    position: absolute;
    left: 100%;
    top: 100px;
    height: 312px;
    width: 200px;
    transform: translateY(-100%);
    background: url("./assets/zombie.png") 0 0; /* zombie ma szerokość 200px */
    animation: move 1s 0s infinite steps(10), zombiePosition 10s 0s 1 linear;
}

@keyframes move {
    100% {
        background-position: -2000px 0;
    }
}

@keyframes zombiePosition {
    100% {
        left: 0%;
    }
}