html, body {
    margin: 0;
    padding: 0;
    border: 0;
}

* {
    /* cursor: none; */
}

body {
    width: 100vw;
    height: 100vh;
    background-color: black;
}

#no-phones {
    font-size: 14rem;
    font-family: 'blood';
    text-align: center;
    width: 100%;
    position: relative;
    transform: translateY(-50%);
    top: 50%;
    color: white;
    display: none;
}

main {
    overflow: hidden;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    top: 50%;
    left: 50%;
    background-image: url("./assets/board-bg.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 900px;
    width: 1440px;
    margin: 0;
}

#menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    position: absolute;
    z-index: 3;
    height: 100%;
    width: 100%;
    background-image: url("./assets/board-bg.jpg");
    background-size: contain;
}

#menu h1 {
    font-family: 'blood';
    font-size: 10rem;
    color: white;
    user-select: none;
}

#menu button {
    border: none;
    background-color: white;
    height: 60px;
    width: 200px;
    border-radius: 15px;
    font-size: 2.5rem;
    font-family: 'blood';
}

#menu button:hover {
    background-color: lightgray;
}

#gameover {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    width: 100%;
    height: 70%;
    background-image: url("./assets/gameover.png");
    background-size: cover;
    animation-name: fade-in;
    animation-duration: 0.7s;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;
    animation-play-state: paused;
    position: absolute;
    top: 120px;
    z-index: 2;
}

#gameover h2 {
    font-family: 'blood';
    font-size: 8rem;
    color: white;
    user-select: none;
}

@keyframes fade-in {
    100% {
        opacity: 1;
    }
}

#aim {
    position: absolute;
    transform: translate(-50%, -50%);
    width: 200px;
    height: auto;
    z-index: 2;
    pointer-events: none;
}

.top-bar {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-between;
    top: 15px;
    height: 104px;
}

.lifebar {
    display: inline-block;
    margin-left: 15px;
    user-select: none;
}

.heart {
    width: 100px;
    height: auto;
    user-select: none;
}

.points-container {
    margin-right: 15px;
}

.points-container p {
    color: white;
    font-size: 7rem;
    margin: 0;
    font-weight: bold;
    position: relative;
    user-select: none;
}

.arena {
    align-self: flex-end;
    position: relative;
    width: calc(100% + 200px);
    height: 230px;
    /* background-color: white; służy do ustawienia */
}

/* parametry są generalnie randomizowane, tu są ustawione defaultowe, głównie używane przed napisaniem randomizacji */
.zombie {
    position: absolute;
    left: 100%;
    top: 100px;
    height: 312px;
    width: 200px;
    transform: translateY(-100%);
    background-image: url("./assets/zombie.png"); /* zombie ma szerokość 200px */
    background-position: 0 0;
    background-size: cover;
    animation: move 1s 0s infinite steps(10), zombie-position 10s 0s 1 linear;
}

@keyframes move {
    100% {
        background-position: -1000% 0;
    }
}

@keyframes zombie-position {
    100% {
        left: 0%;
    }
}

/* @media (max-width: 1440px) or (max-height: 900px) {
    * {
        cursor: default;
    }

    main {
        display: none;
    }

    #no-phones {
        display: block;
    }

    #aim {
        display: none;
    }
} */